html,
body {
    /* width: 100%; */
    height: 99%;
}

.Blue {
    color: blue;
}

.nationwide {
    position: fixed;
    top: 25px;
    left: 10px;
    width: 230px;
    height: 230px;
    border: 1.5px solid #cccccc;
    border-radius: 3px;
    padding: 15px 15px;
    box-sizing: border-box;
}

h5 {
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    color: #333333;
}

p {
    line-height: 25px;
    font-size: 14px;
    color: #333333;
}

.loading-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.column {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 35px;
    height: 35px;
    position: relative;
}

.container .shape {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 1px;
}

.container .shape.shape1 {
    left: 0;
    background-color: #5c6bc0;
}

.container .shape.shape2 {
    right: 0;
    background-color: #8bc34a;
}

.container .shape.shape3 {
    bottom: 0;
    background-color: #ffb74d;
}

.container .shape.shape4 {
    bottom: 0;
    right: 0;
    background-color: #f44336;
}

.container.animation-6 {
    -webkit-animation: rotation 1s infinite;
    animation: rotation 1s infinite;
}

.container.animation-6 .shape {
    width: 15px;
    height: 15px;
    border-radius: 2px;
}

.animation-6 .shape1 {
    -webkit-animation: animation6shape1 2s linear 0s infinite normal;
    animation: animation6shape1 2s linear 0s infinite normal;
}

@-webkit-keyframes animation6shape1 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(0, 22px);
        transform: translate(0, 22px);
    }
    50% {
        -webkit-transform: translate(22px, 22px);
        transform: translate(22px, 22px);
    }
    75% {
        -webkit-transform: translate(22px, 0);
        transform: translate(22px, 0);
    }
}

@keyframes animation6shape1 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(0, 22px);
        transform: translate(0, 22px);
    }
    50% {
        -webkit-transform: translate(22px, 22px);
        transform: translate(22px, 22px);
    }
    75% {
        -webkit-transform: translate(22px, 0);
        transform: translate(22px, 0);
    }
}

.animation-6 .shape2 {
    -webkit-animation: animation6shape2 2s linear 0s infinite normal;
    animation: animation6shape2 2s linear 0s infinite normal;
}

@-webkit-keyframes animation6shape2 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(-22px, 0);
        transform: translate(-22px, 0);
    }
    50% {
        -webkit-transform: translate(-22px, 22px);
        transform: translate(-22px, 22px);
    }
    75% {
        -webkit-transform: translate(0, 22px);
        transform: translate(0, 22px);
    }
}

@keyframes animation6shape2 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(-22px, 0);
        transform: translate(-22px, 0);
    }
    50% {
        -webkit-transform: translate(-22px, 22px);
        transform: translate(-22px, 22px);
    }
    75% {
        -webkit-transform: translate(0, 22px);
        transform: translate(0, 22px);
    }
}

.animation-6 .shape3 {
    -webkit-animation: animation6shape3 2s linear 0s infinite normal;
    animation: animation6shape3 2s linear 0s infinite normal;
}

@-webkit-keyframes animation6shape3 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(22px, 0);
        transform: translate(22px, 0);
    }
    50% {
        -webkit-transform: translate(22px, -22px);
        transform: translate(22px, -22px);
    }
    75% {
        -webkit-transform: translate(0, -22px);
        transform: translate(0, -22px);
    }
}

@keyframes animation6shape3 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(22px, 0);
        transform: translate(22px, 0);
    }
    50% {
        -webkit-transform: translate(22px, -22px);
        transform: translate(22px, -22px);
    }
    75% {
        -webkit-transform: translate(0, -22px);
        transform: translate(0, -22px);
    }
}

.animation-6 .shape4 {
    -webkit-animation: animation6shape4 2s linear 0s infinite normal;
    animation: animation6shape4 2s linear 0s infinite normal;
}

@-webkit-keyframes animation6shape4 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(0, -22px);
        transform: translate(0, -22px);
    }
    50% {
        -webkit-transform: translate(-22px, -22px);
        transform: translate(-22px, -22px);
    }
    75% {
        -webkit-transform: translate(-22px, 0);
        transform: translate(-22px, 0);
    }
}

@keyframes animation6shape4 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(0, -22px);
        transform: translate(0, -22px);
    }
    50% {
        -webkit-transform: translate(-22px, -22px);
        transform: translate(-22px, -22px);
    }
    75% {
        -webkit-transform: translate(-22px, 0);
        transform: translate(-22px, 0);
    }
}